.container__menu{
    // background-color: chartreuse;
    // margin: auto;
    margin-left: 10%;
    width: 23%;
  }

.menu {
    background-color: #fff;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    
}



.menu__title h2 {
    font-weight: 300;
    text-align: center;
    padding-top: 2rem;
}

.menu__item {
    border-bottom: 1px solid #605f5e3d;
    display: flex;
    align-items:center;
}

.menu__itemEnd {
    display: flex;
    align-items:center;
}

.menu__item h4 {
    font-weight: 300;
    padding: 1.2rem 5%;
    

}

//recordar encontrar solucion para quitar esto y no repetir codigo
.menu__itemEnd h4 {
    font-weight: 300;
    padding: 1.1rem 5%;
    
}


.menu__arrow:before {
    content: "";
    display: flex;
    margin-left: 20px;
    width: 0; 
    height: 0; 
    border-left: 12.8px solid #247BA0;
    border-top: 6.25px solid transparent;
    border-bottom: 6.25px solid transparent; 

}

//recordar encontrar solucion para quitar esto y no repetir codigo
.menu__arrow:before{
    content: "";
    display: flex;
   margin-left: 20px;
    width: 0; 
    height: 0; 
    border-left: 12.5px solid #247BA0;
    border-top: 6.25px solid transparent;
    border-bottom: 6.25px solid transparent; 
}

